<h1>Héroe <small>Nombre del héroe</small></h1>
<hr />

<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger" routerLink="/heroes">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>

<div class="row animated fadeIn">
  <div class="col">
    <form (ngSubmit)="guardar(f)" #f="ngForm">
      <div class="form-group">
        <label> Firebase ID </label>
        <input
          type="text"
          class="form-control"
          disabled="disabled"
          placeholder="Firebase ID"
          [(ngModel)]="heroe.id"
          name="id"
        />
        <small class="form-text text-muted">Este campo es autogenerado</small>
      </div>
      <div class="form-group">
        <label> Nombre </label>
        <input
          type="text"
          class="form-control"
          placeholder="Nombre del heroe"
          [(ngModel)]="heroe.nombre"
          name="nombre"
          required
        />
        <small class="form-text text-muted">Este campo es autogenerado</small>
      </div>
      <div class="form-group">
        <label> Poder </label>
        <input
          type="text"
          class="form-control"
          placeholder="Poder del heroe"
          required
          [(ngModel)]="heroe.poder"
          name="poder"
        />
        <small class="form-text text-muted">Este campo es autogenerado</small>
      </div>
      <div class="form-group">
        <label>Estado</label>
        <br />
        <button
          *ngIf="heroe.vivo"
          (click)="heroe.vivo = false"
          class="btn btn-outline-success"
          type="normal"
        >
          <i class="fa fa-smile-wink"></i>
          Vivo
        </button>
        <button
          class="btn btn-outline-danger"
          type="normal"
          *ngIf="!heroe.vivo"
          (click)="heroe.vivo = true"
        >
          <i class="fa fa-dizzy"></i>
          Muerto
        </button>
      </div>
      <hr />
      <div class="form-group">
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
